<h1>Edit Profile</h1>

{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.fullName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    <button class="btn btn-primary">Save</button>
{{ form_end(form) }}
